Compeau, Phillip_ Pevzner, Pavel - Bioinformatics algorithms. Vol.1 an active learning approach (2015, Active Learning Publishers) - libgen.li.pdf
Genetics_A Conceptual Approach 7th Edition B.Pierce.pdf
Larry Wasserman - All of Statistics.pdf
